.Sidebar {
  height: calc(100vh - var(--navbar-height));
  min-width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  position: relative;
  transition: all 0.3s ease 0s;
}

.switchers {
  position: absolute;
  bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 20px;
  margin-left: 20px;
}

.collapsed {
  transition: all 0.3s ease 0s;
  min-width: var(--sidebar-width-collapsed);

  .items {
    margin-left: 0;
    justify-content: center;
    align-items: center;
  }

  .switchers {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}

.collapsedBtn {
  position: absolute;
  right: -40px;
  bottom: 40px;
  z-index: 100;
}
