.ArticleViewSelector {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: auto;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
  fill: var(--accent-color);
}
