.MyDropdown {
  border: 0;
  outline: 0;
  background: none;
  height: 30px;
  width: 30px;

  & * {
    cursor: pointer;
  }
}

.items {
  background: var(--card-bg);
  position: absolute;
  z-index: var(--dropdown-items-z-index);
  border-radius: 8px;
  border: 1px solid var(--primary-color);
  display: flex;
  flex-direction: column;
  box-shadow: 4px 4px 10px var(--list-box-shadow);
}

.item {
  padding: 10px 25px;
  width: 100%;
  color: var(--primary-color);
}
