.Drawer {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  z-index: var(--drawer-z-index);
  display: flex;
  align-items: flex-end;
  scrollbar-color: var(--accent-color) var(--inverted-bg-color);
  scrollbar-width: thin;
}

.content {
  position: relative;
  height: 100%;
  background: var(--bg-color);
  bottom: 0;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  width: 100%;
  min-height: 100px;

  // padding: 20px;
  transition: 0.3s transform;
  transform: translateY(100%);
  overflow-y: scroll;
  overflow-x: scroll;
  z-index: var(--drawer-content-z-index);
}

.content::before {
  content: "";
  position: relative;
  display: block;
  width: 100px;
  height: 10px;
  background: var(--bg-color);
  margin: auto;
  bottom: 40px;
  border-radius: 12px;
}

.opened {
  pointer-events: auto;
  opacity: 1;
  z-index: var(--modal-z-index);

  .content {
    transform: translateY(0%);
  }
}

.sheet {
  z-index: var(--drawer-z-index);
  position: fixed;
  left: 2vw;
  height: calc(100vh);

  // height: 69%;
  width: 96vw;
  border-radius: 12px 12px 0;
  background: var(--bg-color);
  touch-action: none;
  padding: 30px;
}
