.app_dark_theme {
  --bg-color: #3a3a3a;
  --inverted-bg-color: #1a1a1a;
  --navbar-bg-color: #0e0e0e;
  --primary-color: #cacaca;
  --secondary-color: #929292;
  --inverted-primary-color: #a8a6a6;
  --inverted-secondary-color: #555454;
  --hovered-bg-color: #242424;

  // skeleton
  --skeleton-color: #ffc397;
  --skeleton-shadow: #ffae74;
  --code-bg: #575757;
  --hovered-icon: #8f8f8f;

  // card
  --card-bg: #424242;
  --card-bg-hovered: #2e2e2e;

  transition: all 0.3s ease 0s;
}
