.app.light {
  --bg-color: #a5b4a8;
  --inverted-bg-color: #272741;
  --primary-color: #3b3b3b;
  --secondary-color: rgb(0 0 0);
  --inverted-primary-color: #a1a0a0;
  --inverted-secondary-color: #a3a3a3;

  transition: all 0.3s ease 0s;
}
