.app_light_theme {
  --bg-color: #e2e2e2;
  --inverted-bg-color: #c2c2c2;
  --navbar-bg-color: #adadad;
  --primary-color: #252525;
  --secondary-color: #414141;
  --inverted-primary-color: #555;
  --inverted-secondary-color: #2b2b2b;
  --hovered-bg-color: #929292;

  // skeleton
  --skeleton-color: #ffc194;
  --skeleton-shadow: #ffa260;

  transition: all 0.3s ease 0s;
}
