.navbar {
  height: var(--navbar-height);
  background: var(--navbar-bg-color);
  padding: 20px;
}

.links,
.dropdown {
  margin-left: auto;
}

.btn {
  &:hover {
    background: var(--hovered-bg-color);
  }
}

.logo {
  cursor: pointer;
}

.createLink {
  color: var(--primary-color);
  transition: all 0.3s ease 0s;

  &:hover {
    text-decoration: underline;
    color: var(--secondary-color);
  }
}
