.navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--navbar-bg-color);
  display: flex;
  align-items: center;
  padding: 20px;
}

.links {
  margin-left: auto;
  display: flex;
  gap: 15px;
}

.btn {
  &:hover {
    background: var(--hovered-bg-color);
  }
}

.leftSide {
  display: flex;
  gap: 20px;
  align-items: center;
}

.logo {
  cursor: pointer;
}

.createLink {
  color: var(--primary-color);
  transition: all 0.3s ease 0s;

  &:hover {
    text-decoration: underline;
    color: var(--secondary-color);
  }
}
