.ListBox {
  position: relative;
}

.trigger {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
}

.options {
  min-width: 100%;
  z-index: 10000;
  position: absolute;
  border-radius: 8px;
  background: var(--list-box-bg);
  box-shadow: 4px 4px 10px var(--list-box-shadow);
}

.option {
  padding: 10px 20px;
  cursor: pointer;
}

.active {
  background: var(--inverted-bg-color);
}

.disabled {
  opacity: 0.5;
}

.optionsTopRight {
  bottom: 100%;
  left: 100%;
}

.optionsTopLeft {
  bottom: 100%;
  right: 100%;
}

.optionsBottomRight {
  top: 100%;
  left: 100%;
}

.optionsBottomLeft {
  top: 100%;
  right: 100%;
}

.selected {
  background: var(--list-box-active-bg);
}
