.ProfileCard {
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);
}

.data {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.avatarWrapper {
  display: flex;
  justify-content: center;
}

.input {
  width: fit-content;
}
